task: ner_token
dataset: __DATASET__
model: bert_token_ner
model_name_or_path: __MODEL__
do_train: true
do_eval: true
training:
  output_dir: __OUTPUT_DIR__
  max_steps: 4000
  per_device_train_batch_size: 16
  per_device_eval_batch_size: 16
  learning_rate: 5e-5
  warmup_ratio: 0.224
  weight_decay: 0.01
  eval_strategy: steps
  eval_steps: 100
  save_strategy: steps
  save_steps: 100
  save_total_limit: 2
  load_best_model_at_end: true
  metric_for_best_model: eval_f1
  greater_is_better: true
  seed: 42
  bf16: true
