task: ner_span
dataset: medline
model: bert_span_ner
model_name_or_path: /lustre/fswork/projects/rech/rua/uvb79kr/DrBenchmark/models/almanach_camembert-bio-base
do_train: true
do_eval: true

backend_args:
  max_span_length: 15
  negative_ratio: 3
  max_length: 512

training:
  output_dir: /lustre/fswork/projects/rech/rua/uvb79kr/tabib/runs/test_medline_span
  num_train_epochs: 20
  early_stopping_patience: 5
  per_device_train_batch_size: 4
  per_device_eval_batch_size: 8
  learning_rate: 2e-5
  warmup_ratio: 0.1
  weight_decay: 0.01
  logging_steps: 10
  eval_strategy: epoch
  save_strategy: epoch
  save_total_limit: 2
  load_best_model_at_end: true
  metric_for_best_model: eval_f1
  greater_is_better: true
  seed: 42
  bf16: true
